
/*eric myers reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* General Style */
html {
    font-size: 62.5%;
    color: #F2F2F2;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-size: 7rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

p {
    font-size: 2rem;
    color: #E5E5E5;
}


/* Desktop breakpoint: starts at 1312px */
@media (min-width: 82em) {
/* Header Style */
    header {
        background: #666666;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .header-content {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin-left: 3%;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .header-content h2 {
        font-size: 4rem;
    }

    .header-content i {
        font-size: 4rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        width: 40%;
        margin-left: 15%;
        height: 30%;
    }

    nav a {
        font-size: 3rem;
        color: #F2F2F2;
    }

    nav a:hover {
        color: #B2B2B2;
    }


/* First Section Style */
    .sect1 {
        background: #000000;
        width: 100%;
        display: flex;
        padding-bottom: 10%;
    }

    .sect1-text {
        margin-top: 8%;
        width: 35%;
        margin-left: 10%;
    }

    .sect1-text h1 {
        margin-bottom: 5%;
        text-align: center;
    }

    .sect1-text p {
        line-height: 3rem;
        margin-bottom: 7%;
        margin-top: 10%;
    }

    .sect1-text a {
        margin-top: 15%;
    }

    .sect1-text .signup {
        color: #F2F2F2;
        display: inline-block;
        width: 25%;
        height: 5%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 0.5%;
        margin-right: 20%;
        border-radius: 2rem;
        background: #39869D;
    }

    .sect1-text .login {
        display: inline-block;
        border: .2rem solid #39869D;
        border-radius: 2rem;
        color: #39869D;
        width: 25%;
        height: 5%;
        text-align: center;
        padding: 2% 0% 0.5% 0%;
    }

    .sect1-img {
        display: flex;
        flex-direction: column;
        padding-top: 8%;
        padding-left: 5%;
        width: 50%;
    }

    .sect1-img img {
        width: 80%;
        height: 80%;
        border-radius: 1.5rem;
        margin-left: 5%;
    }

    .sect1-img a {
        color: #F2F2F2;
        width: 60%;
        font-size: 1.6rem;
        margin-left: 20%;
        margin-top: 2%;
    }


/* Section 2 Style */
    .sect2 {
        background: #404040;
        padding-top: 10%;
        padding-bottom: 15%;
    }

    .sect2 h2{
        text-align: center;
        padding-bottom: 8%;
    }

    .sect2-body {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin-left: 5%;
    }


    .graph img {
        width: 75%;
        height: 80%;
        border-radius: 2rem;
    }

    .graph p {
        margin-top: 5%;
        margin-left: 20%;
    }

    .rate img {
        width: 70%;
        height: 80%;
        border-radius: 2rem;
    }

    .rate p {
        margin-top: 5%;
        margin-left: 20%;
    }

    .pattern img {
        width: 100%;
        height: 80%;
        border-radius: 2rem;
    }

    .pattern p {
        margin-top: 5%;
        margin-left: 7%;
        text-align: center;
        line-height: 4rem;
    }




/*section 3 styling */
    .sect3 {
        background: #000000;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .sect3 h3 {
        font-size: 6rem;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .sect3 a {
        color: #F2F2F2;
        background: #39869D;
        font-size: 3rem;
        display: block;
        width: 25%;
        text-align: center;
        padding: 2% 0% 2% 0%;
        border-radius: 2rem;
        margin: 0 auto;
        margin-top: 8%;
    }

    .sect3 a:hover {
        background: #296A87;
        color: #FBFBFB;
    }






/* Footer Style */
    footer {
        background: #404040;
        padding-top: 5%;
    }

    .social-container {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    .social-container a {
        font-size: 4rem;
        color: #F2F2F2;
    }

    .social-container a:hover {
        color: #666666;
    }

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
}

.footer-content i {
    font-size: 4rem;
}
.footer-content h2 {
    font-size: 4rem;
}

footer p {
    font-size: 2rem;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

}

